.heading-1 {
    @apply text-xl leading-tight mb-10 font-title font-bold text-brand ;
}

.heading-2 {
    @apply text-lg leading-tight mb-10 font-title font-bold text-brand ;
}


.maintext {
    & p {
    margin-bottom: 1.5625rem;
    }
    & h2 {
        @apply heading-1 ;
    }
    & h3 {
        @apply heading-2 ;
    }
    & ul {
        list-style: none;
        margin-bottom: 1.5625rem;
    }
    & ul li {
        @apply relative pl-30 pb-10 ;
        &:before {
            content: "";
            top: 8px;
            left:0;
            width: 8px;
            height: 8px;
            @apply absolute bg-brand ;
        }
    }
}
